.backdrop {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.backdrop-hide {
  background-color: transparent;
}

.Modal {
  position: relative;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 4rem;
  max-width: 500px;
  max-height: 30rem;
  overflow: scroll;
  margin: auto;
  transition: all 0.3s ease-out;
}

.Modal h1 {
  color: black !important;
}

.Modal img {
  max-width: 100%;
}

.Modal > div {
  display: flex;
  text-align: start;
  padding: 20px 40px;
}

.Modal > div div {
  width: 50%;
  padding: 10px 20px;
}

.modalOpen {
  animation: openModal 0.4s ease-out forwards;
}

.modalClose {
  animation: closeModal 1s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* 可以做initialization */
.fade-slide-enter {
}
.fade-slide-enter-active {
  animation: openModal 0.4s ease-out forwards;
}
.fade-slide-exit {
}
.fade-slide-exit-active {
  animation: closeModal 1s ease-out forwards;
}
